@import '../styles/variables.css';

header {
	margin-bottom: 40px;
	height: 80px;
}

h1 {
	color: var(--highlight-colour);
	text-shadow: 5px 3px 0 var(--tertiary-colour);
	text-align: left;
	font-size: 5rem;
	margin: 0 auto;
	padding-bottom: 0;
}

p.caption {
	margin: -10px 20px 0;
	font-style: italic;
	font-weight: 300;
	color: var(--highlight-colour);
}