@import '../styles/variables.css';

.layout {
	background-color: var(--primary-colour);
}

h1 {
	text-shadow: 5px 3px 0 var(--tertiary-colour);
	text-align: left;
	font-size: 5rem;
	margin-bottom: 0;
	padding-bottom: 0;
}

p:last-child {
	font-size: 1.2rem;
	font-weight: bold;
}

a {
	text-decoration: none;
}

.contentArea {
	margin: 3rem auto;
	width: 66%;
	max-width: 650px;
}